
#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;
}


#mapa {
    display: flex;
    width: 100%;
    height: 300px;   
    border-radius: 5px;
}

#image img {
    width: 100%; 
    height: auto; /
}
  

#contacto li{
    list-style-type: none;
    align-items: center;
}


#mensagem{
    width: 70%;
}

#box-mensagem, #button{
    display: flex;
    justify-content: center; 
    align-items: center; 
}



#button button{
    margin-top: auto;
}






