
#contacto, #welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;
}

#box-welcome{
    background-color: #EDEDED;
}

.map {
    border-radius: 5px;
    width: 100%;
    height: 300px; /* Ajuste para altura consistente */
}

#image{

}

#contacto li{
    list-style-type: none;
}


#mensagem{
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    width: 70%;
} 

#box-mensagem {
    display: flex;
    justify-content: center; 
    align-items: center; 
}


#button {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    align-items: center; /* Alinha os botões verticalmente */  
}

#button button{
    margin-right: 0;
}






